@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --bg-color: #0c1022;
    --second-bg-color: #091020;
    --text-color:#fff;
    --box-shadow: 5px 5px 8px #f06, 6px 6px 8px blue;
}

/* smooth scroll*/
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}



.logo {
    float: left;
    color: #fff;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.logo img {
    float: left;
    width: 70px;
    height: 70px;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} 

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content h3 span {
    background: linear-gradient(45deg, #f06,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 18px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
}

.content-right {
    box-shadow: var(--box-shadow);
    border-radius: 05px;
    background: #fff;
    transform: translateX(300%);
    animation: imgAnimate 3s forwards;
}

.content-right img {
    display: block;
    min-height: 100%;
    width: 100%;
    border-radius: 05px;
}



.social-media a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #f06,blue);
    color: #fff;
    z-index: 1;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06,blue);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.social-media a:hover::before {
    filter: blur(5px);
} 

.social-media a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.social-media a:hover::after {
    transform: scale(0);
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,blue, #f06);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px; 
    background-size: 200%;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,blue, #f06);
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px; 
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 23vw;
    border-radius: 25px;
    margin-left: 1rem;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}

.heading span {
    background: linear-gradient(45deg, #f06,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-content h2 {
    /*font-size: 50px;*/
    line-height: 1.2;
    /*font-weight: 600;
    margin-bottom: 15px;*/
    text-align: left;
}

.about-content p {
    font-size: 18px;
    margin: 2rem 0 3rem;
    /*line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;*/
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.education-content {
    display: block;
    width: 80%;
    margin: 50px auto;
}

.education-content .heading {
   margin-bottom: 50px;
}

.card {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin:  -40px 0;
    position: relative;
    background: linear-gradient(45deg, #f06,blue);
}

.card:nth-child(even) {
     margin-left: auto;
}

.card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
    
}

.card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before {
    background: linear-gradient(45deg, #f06,blue);
}
.card:nth-child(3), .card:nth-child(3):before {
    background: linear-gradient(45deg, #f06,blue);
}
.card:nth-child(4), .card:nth-child(4):before {
    background: linear-gradient(45deg, #f06,blue);
}

.card:nth-child(even) .card-body:before {
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-body h3 {
    font-size: 14.5px;
    margin-bottom: 5px;
}

.card-detail {
    font-size: 14px;
}

.hireme h2 {
    margin-bottom: 3rem;
}

.hireme form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.hireme form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hireme form .input-box input,
.hireme form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.hireme form .input-box input {
    width: 49%;
}

.hireme form textarea {
    resize: none;
}

.hireme form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 16px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: linear-gradient(45deg, #f06,blue);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* breakpoints */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }


    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 4rem;
    }
    .home-contenth1 {
        font-size: 5rem;
    }
    .home-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }
    .about-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .card {
        min-height: auto;
    }
    
    .hireme {
        min-height: auto;
    }
    
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    
    .hireme form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 80vw;
    }
    .about-img img {
        width: 80vw;
    }
    
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}






















/* Keyframes animation*/
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes imgAnimate {
    to {
        transform: translateX(0);
    }
}
